body {
    position: relative;
    min-height: 100vh;
    font-family: 'Dosis', sans-serif;
}

header, footer {
    background-color: #f1f1f1;
}

.cell {
    height: 30vh;
}

.disabled {
    /* cursor:not-allowed; */
    pointer-events: none;
} 

.cell:hover {
    transform: rotateY(180deg); 
  }